<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Midterm Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>

<h1 id="main"><a href="/" style="text-decoration: none; color:white">Welp! Restaurant Reviews</a></h1>

<div class="nav">
  <div>
    <a href="/Top3">Top 3 Rated</a>
    <a href="/LowCost">$ Not Pricey</a>
    <a href="/MedCost">$$ Kinda Pricey</a>
    <a href="/HighCost">$$$ Hella Pricey</a>
    <a href="/Alphabetical">All Alphabetical</a>
  </div>
</div>

<body>
  {{{body}}} <!-- calls home.handlebars -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew').on('click', function() {
      console.log("hi");
    });
  </script>
</body>

</html>
