{{!-- MAIN VIEW FOR CHAT ROOM --}}

<ul id="messages"></ul> {{!-- unordered list to hold chat messages --}}
<form id="box" action="">
	<input id="m" autocomplete="off" /><button>Send</button>
</form>
